@import url('https://fonts.googleapis.com/css2?family=Sono:wght@200;400&display=swap');


*{
    margin: 0;
    padding: 0;
}

nav{
  background-color: antiquewhite;
 colour: black;
 height:60px;
 font-size: 30px;
 display:flex;
 align-items:center;
 padding:0 10px;
 font-family: 'Sono', sans-serif;
}
navul{
 list-style-type:none;
}
.gameContainer{
 background-color:aliceblue;
 display:flex;
 justify-content:center;
 margin-top: 5px;
 
}

.container{
 display:grid;
 grid-template-rows: repeat(3,10vw);
 grid-template-columns: repeat(3,10vw);
 font-family: 'Sono', sans-serif;
}
.box{
 border:2px solid black;
 font-size:8vw;
 display:flex;
 justify-content: center;
 align-items: center;

}
.box:hover{
 background-color:aquamarine
}
.gameinfo{
    padding:0 34px;
    font-family: 'Sono', sans-serif;
}
.imgbox img{
width: 0;
transition: width 1s ease-in-out;
}
.bt-0{border-top: 0;}
.bl-0{border-left: 0;}
.br-0{border-right: 0;}
.bb-0{border-bottom: 0;}

#reset{
    margin: 0 23 px;
    padding: 6px 14px;
    background: #f6ddf7;
    border-radius: 6px;
    cursor:pointer;

}
@media screen and (max-width: 800px){
    .gameContainer{
        flex-wrap: wrap;
    }
    .gameinfo{
        margin-top: 34px;

    }
    .container{
        grid-template-rows: repeat(3, 20vw);
        grid-template-columns: repeat(3, 20vw);
    }
    
}

